admin:
  name: {{hosted:id}}-{{hosted:eks:druid:release}}-druid-admin
  description: "druid admin username & password"
  username: admin
  password:
    length: 30
    excludeNumbers: true
    excludeLowercase: false
    excludeUppercase: false
    includeSpace: false
    requireEachIncludedType: true
  removalPolicy: destroy

system:
  name: {{hosted:id}}-{{hosted:eks:druid:release}}-druid-system
  description: "druid system username & password"
  username: druid_system
  password:
    length: 30
    excludeNumbers: true
    excludeLowercase: false
    excludeUppercase: false
    includeSpace: false
    requireEachIncludedType: true
  removalPolicy: destroy
